@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Custom Utilities and Styles */

body::before {
  content: "";
  height: 5px;
  width: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  /* background-color: #d33682; */
  background: linear-gradient(90deg, #d33682 60%, #008b8b);
}

body {
  height: calc(100vh - 10px);
}
